body{
    margin: 10px;
    padding: 0px;

}

main{
   padding: 16px;
}

footer{
    padding: 34px 0px 34px 10px;
    background-color: rgb(54, 113, 43);
}

img{
    height: 200px;
    width: 200px;
}

nav{
   background-color: rgb(232, 121, 17);
   border-bottom: 2px solid black;
   padding: 16px;
}

.recipe-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
a:hover{
    background-color: rgb(9, 70, 9);
}

tr:nth-child(even){
    background-color: rgb(191, 186, 186);
}
